<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Painting</title>
</head>
<body>
    
</body>
{% with messages = get_flashed_messages() %}    
{% if messages %}                           
    {% for message in messages %}           
        <p>{{message}}</p>                   
    {% endfor %}
{% endif %}
{% endwith %}
<p>Edit {{painting.title}}</p>
<a href="/paintings/new">Add Painting</a>
<a href="/dashboard">Dashboard</a>
<a href="/logout">Logout</a>
<form action='/paintings/{{painting.id}}/update' method='POST'>
    
    <label for="title">Title: </label>
    <input type="text" name='title' value='{{painting.title}}'>

    <label for="description">Description: </label>
    <textarea name="description">{{painting.description}}</textarea>

    <label for="price">Price: </label>
    <input type="text" name='price' value='{{painting.price}}'>

    <input type="submit">
</form>
</body>
</html>