<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome {{session['user_first_name']}}</h1>
    <p>Paintings</p>
    <a href='/paintings/new'>Add Painting</a></p>
    <a href="/logout">Logout</a>

    <table>
        <thead>
            <th>Title</th>
            <th>Name</th>
            <th>Actions</th>
        </thead>
        {% for painting in paintings %}
        <tr>
            <td><a href="/paintings/{{painting.id}}">{{painting.title}}</a></td>
            <td>{{painting.creator.first_name}} {{painting.creator.last_name}}</td>
            <td>{% if painting.creator_id==session['user_id'] %}
                <a href='/paintings/{{painting.id}}/edit'>Edit</a>
                <a href='/paintings/{{painting.id}}/delete'>Delete</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>