@model User
<h1>Hobbies</h1>
<h4>Welcome @ViewBag.loggedIn.UserName</h4>
<hr>

<div>
        <partial name="_AllHobbies"></partial>
</div>

        <div>
            <a href="New" class="btn btn-primary">Create Hobby</a>
        </div>

    </div>
</div>
